<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.econ.springboot.tdengine.demo.multi.datasource.dao.mysql.MysqlMapper">

    <select id="selectOne" resultType="java.util.Map">
        SELECT * FROM iot_product limit 1
    </select>

</mapper>